/*----- Import Fonts -----*/
@import url('https://fonts.googleapis.com/css?family=Blinker|Oxygen&display=swap');

/*-----Set variables-----*/
:root{
	--primary-colour: #FFFFFF; /* White */
	--secondary-colour: #000000; /* Black */
	--gray-colour: #E7E7E7; /* Grey */
	--second-gray-colour: #d6d6d6; /* Darker Gray */
	--accent-colour-two: #3c91b8; /* Blue */
	--accent-colour-one: #347D9E;  /* Blue but darker */
	--accent-colour-three: #DFA322; /*Yellow */
}

/* Code Colors */
.keyword { color: #ff7700;}
.comment { color: #dd0000;}
.def { color: #0000ff;}
.string { color: #00aa00;}
.bulitin { color: #900090;}

/* Main */
body {
	margin: 0;	
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
}

html {
	overflow-y: scroll; overflow-x:hidden;
	background-color: var(--gray-colour)
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Blinker', sans-serif;
}

h1 {
	font-size: 2vw;
}

/* ----- Header ------ */
#headerimg {
	width: 100%;
	height: 100%;
	margin-bottom: 0;
}

/*--Position of items on header image--*/
/*--Link: https://www.w3schools.com/howto/howto_css_image_text.asp --*/

.container {
    position: relative;
    text-align: center;
    color: white;
}

#snake {
	position: absolute;
	width: 20%;
	height: 15%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	right: 25%;
	top: 55%;
	transform: rotate(-30deg);
}

/*--Position Nav--*/
.bottom-right {
  position: absolute;
  bottom: -2%;
  right: -1%;
}

/*--Position and style of title --*/
.title {
	position: absolute;
	top: 20%;
	width: 30%;
	font-style: oblique;
	font-size: 12vw;
}

/* ----- Navigation Menu ----- */
.nav {
	width: 52%;
	margin-right: 0;
	padding-top: 0;
}

.nav > ul {
	list-style-type: none;
	padding: 0;
}

.nav > ul > li {
	float: right;
	transform: skew(20deg);
	background-color: var(--accent-colour-two);
	text-align: center;
	font-size: 1.5vw;
	transition: 0.5s;
	width: 33%;
	margin-left: -5px;
}

.nav > ul > li:hover {
	background-color: var(--accent-colour-one);
}

.nav > ul > li > a {
	font-style: oblique;
	text-decoration: none;
	padding: 7px;
	display: block;
	color: white;
}

/* ----- Code Segments -----*/

pre {
	font-size: 0.875em;
	font-family: "Courier New", Courier, monospace;
	color: var(--secondary-colour);
	background-color: var(--gray-colour);
	filter: drop-shadow(-4px 3px 4px rgba(0, 0, 0, 0.2));
	border-radius: 10px;
	padding: 20px;
	-moz-tab-size: 2vw;
	tab-size: 2vw;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin-bottom: 20px;
}

.output {
	font-size: 0.875em;
	font-family: "Courier New", Courier, monospace;
	color: var(--secondary-colour);
	background-color: var(--second-gray-colour);
	filter: drop-shadow(-4px 3px 4px rgba(0, 0, 0, 0.2));
	border-radius: 10px;
	padding: 20px;
	-moz-tab-size: 2vw;
	tab-size: 2vw;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin-bottom: 20px;
}

.in-line-code {
	font-size: 0.875em;
	font-family: "Courier New", Courier, monospace;
	color: var(--secondary-colour);
	background-color: var(--second-gray-colour);
	padding: 2px;
	border-radius: 2px;
	-moz-tab-size: 2vw;
	tab-size: 2vw;
	white-space: normal;
	word-wrap: normal;
	margin-bottom: 20px;
	display: inline;
	filter: none;
}

/* Add a blinking cursor */
.cursor{
  transform: translate(-50%, -50%);
  position: relative;
  line-height:normal;
  white-space: nowrap;
  letter-spacing: 0.0625em;
  width: calc(2ch + 2*0.0625em);
}

.cursor:after {
  display: block;
  position: absolute;
  content: '';
  width: calc(2ch + 2*0.0625em);
  height: 2ex;
  left: 0;
  top: 0;
  background: var(--second-gray-colour);
  animation: 1s blinker infinite;
  border-left: 1px solid var(--second-gray-colour);
}

@keyframes blinker {
	0% {border-left-color: var(--secondary-colour);}
	50% {border-left-color: var(--secondary-colour);}
	51% {border-left-color: var(--second-gray-colour);}
	100% {border-left-color: var(--second-gray-colour);}
}

/* ----- Main Sections ----- */
.content {
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 75vw;
	padding: 1% 2% 30% 2%;
	background-color: var(--primary-colour);
	filter: drop-shadow(5px 4px 8px rgba(0, 0, 0, 0.2));
	border-radius: 5px;
	font-size: 100%;
}

#about > h1{
	font-size: 300%;
	text-align: center;
	margin-bottom: 0;
}

hr {
	width: 50%;
	color: #DFA322;
}

footer{
	width: 100%;
	height: 100px;
	background-color: var(--primary-colour);
	padding: 15px;
}

.mobile {
	visibility: hidden;
}

.typewrite {
	color: var(--secondary-colour);
}